<br />
<div style="display: flex; width: 100%;" class="footer-container">
  <div style="display: flex; text-align: center; margin: 0 auto;">
    <img src="https://i.ibb.co/m9L2zxJ/icon.png" alt="icon" border="0"
      style="width: 15px; height: 15px; margin-right: 5px;">
    <span class="footer" style="font-size: 12px; margin-bottom: 3px;">Equipe Petscão</span>
  </div>
  <style>
    @media (max-width: 400px) {
      .footer {
        font-size: 10px !important;
      }
    }
  </style>
</div>
