<br />
<div style="display: flex; width: 100%;">
  <div style="display: flex; text-align: center; margin: 0 auto;">
    <img src="https://i.ibb.co/m9L2zxJ/icon.png" alt="icon" border="0"
      style="width: 15px; height: 15px; margin-right: 5px;">
    <span style="font-size: 12px; font-weight: 300;">Equipe Petscão</span>
  </div>
</div>
