<div style="
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f1b71c;">
  <h3 style="color: #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;">AGENDAMENTO CANCELADO</h3>
</div>

<div style="padding: 5% 10% 10% 10%; font-weight: 300;" class="cancellation-container">
  <h3 style="text-align: center; color: #f1b71c; font-size: 22px;">Olá, {{ user }}!</h3>
  <p>Esta é uma confirmação do cancelamento de agendamento que você realizou, confira os detalhes abaixo:</p>
  <p>
    Agendado para o {{ date }}. <br />
    Cancelado no {{ canceled_at }}. <br />
    <br />
    <small style="color: #8c8c8c">
      * O horário está novamente disponível para novos agendamentos.
    </small>
  </p>
</div>
