<div style="padding: 5% 10% 10% 10%; font-weight: 300;">
  <h3 style="text-align: center; color: #f1b71c; font-size: 22px">Olá, {{ user }}!</h3>
  <p>Você solicitou uma recuperação de senha no {{ date }}, acesse o link abaixo para mudar sua senha:</p>
  <a href={{ link }} style="font-size: 14px; color: #039cd8; font-weight: 700; text-decoration: none">Clique aqui para
    acessar o link</a>
</div>
